{% extends "base.html" %}

{% from "_registerhelper.html" import render_field %}

{% block content %}

<div class="row">

<div class="col-xs-4"></div>

<div class="col-xs-4">

      <form class="form-default" action= {{ url_for('register')}}  method="post">
      {{ form.hidden_tag }}
        <h2 class="form-default-heading">Реєстрація</h2>
        <dl>
        	{{ render_field(form.username) }}
        	{{ render_field(form.password) }}
        	{{ render_field(form.confirm) }}
        </dl>

        <hr>
        <button class="btn btn-small btn-primary btn-block" type="submit">Зареєструватися</button>
      </form>

</div>

<div class="col-xs-4"></div>

</div> <!-- row --> 


{% endblock %}